.topbar {
  background-color: gainsboro;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topbar > h1 {
  margin: 0;
}

.topbar > .auth > * + * {
  margin-left: 5px;
}
